 <div class="container col-8 ">
   <h1 class="text-center mt-5">Login Form</h1>
   <br>
   <form action="" class="container bg-info bg-gradient px-4 py-4 rounded">

     <div class="col-md-12">
       <label for="username" class="form-label mb-0 mt-2"> Username</label>
       <input type="text" class="form-control rounded lh-sm" id="firstname" placeholder="First Name" required>
     </div>
     <div class="col-md-12">
       <label for="password" class="form-label mb-0 mt-2">Password</label>
       <input type="password" class="form-control rounded lh-sm" id="password" placeholder="Enter Password"
         pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
     </div>
     *Please use at least one number, and one uppercase and lowercase letter:
     <div class="form-check mt-2">
       <input type="checkbox" value="" class="form-check-input" id="flexcheckdefault">
       <label for="flexcheckdefault" class="form-check-label pb-1"> Remembe me </label>
       <!-- <input type="button" value="Cancel" class="btn btn-primary mx-2"> -->
       <a href="https://www.google.com" target="_blank" class="float-end">Forget Password ?</a>
     </div>
     <button class="form-control btn btn-primary col-12 fs-5 rounded lh-sm">Login</button>
     <!-- <button class="btn btn-primary col-12 fs-5 mb-2 rounded" (click)="myclick()">Login</button><br> -->

     <div class="text-center">
       <p>Not a member? <a href="../sign-up/sign-up.component.html">Register</a></p>
     </div>
   </form>
 </div>
 <!-- <div>
   <button (click)="myclick()"> click me </button>
 </div> -->
