<div class="container col-6 ">
  <h1 class="text-center mt-5">Sign Up Now</h1>
  <br>
  <!-- <hr> -->
  <form action="" class="container bg-info bg-gradient px-4 py-4 rounded">

    <div class="col-6 float-start">
      <p><label class="form-label fs-5 " required="">First Name*:</label><br>
        <input type="text" placeholder="First Name" class="lh-sm col-11 rounded" required></p>
    </div>

    <div class="col-6 float-end">
      <p><label class="form-label fs-5 "> Last Name: </label><br>
        <input type="text" class="lh-sm col-11 rounded" placeholder="Last Name"></p>
    </div>


    <div class="col-6 float-start">
      <p><label class="form-label fs-5" for="email">Email*:</label>
        <input class="lh-sm col-11 rounded" type=" email" id="email" placeholder="Enter your Email" required>
      </p>
    </div>

    <div class="col-6 float-end">
      <p><label class="form-label fs-5">Mobile No.*</label>
        <input type="tel" class="lh-sm col-11 rounded" placeholder="Mobile No."></p>
    </div>


    <div class="col-6 float-start">
      <p><label class="form-label fs-5"> Password*</label><br>
        <input type="password" placeholder="Password" class=" lh-sm col-11 rounded" minlength="8" required
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></p>
    </div>

    <div class="col-6 float-end">
      <p> <label class="form-label fs-5">Re-enter Password:</label><br>
        <input type="password" placeholder="Confirm Password" class=" lh-sm col-11 rounded" minlength="8" required
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></p>

    </div>

    <p class="float-start">*Enter at least one number and one Uppercase and Lowercase letter</p>

    <br>
    <button class="btn btn-primary col-12 fs-5 rounded">Sign Up</button><br>

    <br>
  </form>
</div>
